
header {
    width: 100%;
    background: #333;
    color: white;
    padding: 1rem 0;
}

.nav-list {
    justify-content: space-around;
}

.nav-list-item a {
    color: white;
    text-decoration: none;
}